*.log
*.pot
*.pyc
.eggs/
local_settings.py
build/
dist/
*.egg-info/
salesforce_testrunner_db
.*.swp
.eggs/
.swp
.tox/
setuptools_git-*.egg
.ropeproject/
.coverage
htmlcov/
coverage_html/
log
tests/inspectdb/models.py
tests/inspectdb/dependent_model/models_template.py
tests/tooling/models.py
venv
.env
.djsf_development
tests/x_*/
