*.log
*.pot
*.pyc
local_settings.py
build
dist
*.egg-info
salesforce_testrunner_db
.*.swp
.swp
.tox
VERSION
setuptools_git-*.egg
.ropeproject/
.coverage
htmlcov
coverage_html
log
tests/inspectdb/models.py
salesforce/packages/
venv
