<!-- defining the doctype -->
<!DOCTYPE html>

<!-- Loading in static assets -->
{%load static%}

{% block extrastyle %}

<link rel="stylesheet" href="{% static 'patient_connect/css/indexstyle.css' %}" />

{% endblock %}

<!-- allowing us to use bootstrap -->
<html lang="en">
<head>
  <title>Lilly Patient Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!-- defining a navigation bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="{% static 'patient_connect/images/main_logo.png' %}" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Business Units</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'automation' %}">Automation</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'wiki' %}">Wiki</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">

<div class="card" style="width:400px">
    <img class="card-img-top" src="{% static 'patient_connect/images/specialty_pharmacy_info.jpg' %}" alt="Card image">
    <div class="card-body">
      <h4 class="card-title">Specialty Pharmacy Portal</h4>
      <p class="card-text">We purchase a webapp and data from IQVIA that is used at specialty pharmacies</p>
      <a href="{% url 'sp_portal' %}" class="btn btn-primary">View Updates</a>
    </div>
</div>

</div>

</body>
</html>