<!-- defining the doctype -->
<!DOCTYPE html>

<!-- Loading in static assets -->
{%load static%}

{% block extrastyle %}

<link rel="stylesheet" href="{% static 'patient_connect/css/indexstyle.css' %}" />

{% endblock %}

<!-- allowing us to use bootstrap -->
<html lang="en">
<head>
  <title>Lilly Patient Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<!-- defining a navigation bar -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="{% static 'patient_connect/images/main_logo.png' %}" alt="logo" style="width:40px;">
    </a>
    
    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Business Units</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'automation' %}">Automation</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'wiki' %}">Wiki</a>
        </li>
    </ul>
</nav>
  

<div class="container">

<h2>Customer Support Programs</h2>

<p>Lilly Patient Services aims to provide patients prescribed our medication world class service and support</p>

<div id="accordion">
    <div class="card">
    <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
        Immunology
        </a>
    </div>
    <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
    </div>
    
    
    
    
    <div class="card">
    <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
        Oncology
    </a>
    </div>
    <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
    </div>
    
    
    
    
    
    <div class="card">
    <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
        Neurology
        </a>
    </div>
    <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </div>
    </div>
    </div>

</div>

</div>




</body>
</html>