{% load i18n %}

<!doctype html>
<html class="no-js" lang="en">
<head>
	<title>list salesforce accounts</title>
</head>
<body>

<a href="{% url 'list_accounts' %}">&lt; &lt; list accounts</a>

<div class="salesforce">
	<div class="content">
		<form method="post" action="">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="search">
		</form>
		{% if accounts %}
		<div class="content">
			<div id="content-wrapper">
				<div>{{ accounts.count }} results:</div>
				{% for account in accounts %}
					<div class="account">
					{{ account.Name }}
					</div>
				{% endfor %}
			</div>
		</div>
		{% else %}
		<strong>Enter a name to search for</strong>
		{% endif %}
	</div>
</div>

</body>
</html>
